In [37]:
import pandas as pd

In [38]:
RAW_recipes = r"C:\Users\evald\Desktop\Ai minor\dataset\Recipes\archive\RAW_recipes.csv"

df = pd.read_csv(RAW_recipes)

In [39]:
pkl_recipes = r"C:\Users\evald\Desktop\Ai minor\dataset\Recipes\archive\ingr_map.pkl"

df_mapping = pd.read_pickle(pkl_recipes)
df_mapping

,raw_ingr,raw_words,processed,len_proc,replaced,count,id
0,"medium heads bibb or red leaf lettuce, washed,...",13,"medium heads bibb or red leaf lettuce, washed,...",73,lettuce,4507,4308
1,mixed baby lettuces and spring greens,6,mixed baby lettuces and spring green,36,lettuce,4507,4308
2,romaine lettuce leaf,3,romaine lettuce leaf,20,lettuce,4507,4308
3,iceberg lettuce leaf,3,iceberg lettuce leaf,20,lettuce,4507,4308
4,red romaine lettuce,3,red romaine lettuce,19,lettuce,4507,4308
...,...,...,...,...,...,...,...
11654,soybeans,1,soybean,7,soybean,31,6702
11655,goose,1,goose,5,goose,8,3318
11656,ajwain,1,ajwain,6,ajwain,13,47
11657,brinjals,1,brinjal,7,brinjal,2,750
11658,khoya,1,khoya,5,khoya,6,4061

In [40]:
df_mapping[df_mapping.processed.str.contains('winter squash')]

,raw_ingr,raw_words,processed,len_proc,replaced,count,id
4713,winter squash puree,3,winter squash puree,19,winter squash puree,3,7934
7889,winter squash,2,winter squash,13,winter squash,48,7933

In [41]:
s_ingr = df.ingredients.str.replace('(\[|\])', '')

C:\Users\evald\AppData\Local\Temp\ipykernel_33988\3589866021.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  s_ingr = df.ingredients.str.replace('(\[|\])', '')

In [42]:
s_ingr = s_ingr.str.replace('(\')', '')

C:\Users\evald\AppData\Local\Temp\ipykernel_33988\401213809.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  s_ingr = s_ingr.str.replace('(\')', '')

In [43]:
s_ing = s_ingr.apply(lambda x: x.split(','))

In [44]:
def do(arr):
    """
    docstring
    """
    temp = []
    for i in arr:
        temp.append(i.strip())
    return temp

In [45]:
s_ing = s_ing.apply(do)
s_ing

0         [winter squash, mexican seasoning, mixed spice...
1         [prepared pizza crust, sausage patty, eggs, mi...
2         [ground beef, yellow onions, diced tomatoes, t...
3         [spreadable cheese with garlic and herbs, new ...
4         [tomato juice, apple cider vinegar, sugar, sal...
                                ...
231632    [celery, onion, green sweet pepper, garlic clo...
231633    [paprika, salt, garlic powder, onion powder, d...
231634    [hard-cooked eggs, mayonnaise, dijon mustard, ...
231635    [butter, eagle brand condensed milk, light bro...
231636    [granulated sugar, shortening, eggs, flour, cr...
Name: ingredients, Length: 231637, dtype: object

In [65]:
# UniqueSet = df_mapping.groupby(by=['replaced'])['id'].count().sort_values(ascending=False)
UniqueSet = df_mapping.groupby(['replaced'])['id'].agg(['count'])
UniqueSet.reset_index(inplace=True)
print(UniqueSet)

                 replaced  count
0     's baking chocolate      1
1       's chocolate chip      1
2       's hugs chocolate      1
3                's sauce      1
4           's sour cream      1
...                   ...    ...
8018           ziploc bag      2
8019          ziti pastum      1
8020         ziti rigatus      1
8021             zucchini      2
8022       zwieback toast      1

[8023 rows x 2 columns]

In [66]:
testCount = UniqueSet.where(UniqueSet['count'] > 40).dropna()
testCount.head(10)

          replaced  count
912       cake mix   85.0
1168       cheddar   84.0
1316         chile   99.0
1910  cream cheese   41.0
2200      dressing  163.0
4308       lettuce   42.0
5365        pickle   79.0
6324       sausage  154.0
7258      tortilla   82.0

In [ ]:
# box plots which ingredients show up more frequently in recipes

In [ ]:
UniqueSet = food_df.groupby(['contributor_id'])['id'].agg(['count'])
# UniqueSet.rename(index={0:"IdCount"})
# UniqueSet.head(20)

UniqueSet.reset_index(inplace=True)

In [47]:
pd.Series(s_ing.values)

0         [winter squash, mexican seasoning, mixed spice...
1         [prepared pizza crust, sausage patty, eggs, mi...
2         [ground beef, yellow onions, diced tomatoes, t...
3         [spreadable cheese with garlic and herbs, new ...
4         [tomato juice, apple cider vinegar, sugar, sal...
                                ...
231632    [celery, onion, green sweet pepper, garlic clo...
231633    [paprika, salt, garlic powder, onion powder, d...
231634    [hard-cooked eggs, mayonnaise, dijon mustard, ...
231635    [butter, eagle brand condensed milk, light bro...
231636    [granulated sugar, shortening, eggs, flour, cr...
Length: 231637, dtype: object

In [48]:
import numpy as np

In [49]:
ar_Ingredients = pd.Series(np.concatenate(s_ing))

In [50]:
TestDf_Ingredients = pd.DataFrame({'Ingredients' : ar_Ingredients})
# TestDf_Ingredients
# ar_Ingredients[ar_Ingredients.str.contains('chicken')]
# df_mapping[df_mapping.processed.str.contains('winter squash')]

# TestDf_Ingredients2 = pd.merge({'Ingredients':ar_Ingredients , 'IngredientId':df_mapping}, how="left", on=["Ingredients","processed"])
# TestDf_Ingredients2

In [54]:
matchedIngredients = pd.concat([TestDf_Ingredients,df_mapping.processed ], keys=["id"], axis=1).reindex(df_mapping.index)
# matchedIngredients.reset_index(inplace=True)

#Rename collums
# matchedIngredients.rename(columns={'mean':'average_rating','count':'votes'},inplace=True)

In [55]:
matchedIngredients.head(10)

                     id
            Ingredients
0         winter squash
1     mexican seasoning
2           mixed spice
3                 honey
4                butter
5             olive oil
6                  salt
7  prepared pizza crust
8         sausage patty
9                  eggs